.register {
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

.register h1 {
    color: #fff;
    text-align: center;
}

.register_username,.register_email,.register_password,.register_confirmPassword {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.register_username label,.register_email label,.register_password label,.register_confirmPassword label {
    color: #fff;
    font-size: 14px;
}

.register_username input,.register_email input,.register_password input,.register_confirmPassword input{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    line-height: 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.89);
}

.register_captcha {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 20px 0;
}

.register_captcha input {
    width: 45%;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    line-height: 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.89);
    box-sizing: border-box;
}

.register_captcha label {
    width: 45%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    line-height: 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.89);
    box-sizing: border-box;
}

.register_btn button{
    border: none;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(24, 24, 24, 0.85);
    line-height: 20px;
    font-size: 16px;
    background-color: rgba(24, 24, 24, 0.85);
    box-sizing: border-box;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.89);
}

.register_btn button:hover {
    cursor: pointer;
}

.register_redirect {
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}

.register_redirect p:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.89);
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.89);
}
